<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<form style="text-align: center" id="input-form">
  <label>Enter the number:</label><br ><br >
  <input [(ngModel)]="num" name="num" min=1 required>
  <input type="submit" (click)="onSubmit()" >
</form>
<br><br>
<table id="display-table" class="center" style="visibility: hidden">
  <tr>
      <th>Word</th>
      <th>Frequency</th>
  </tr>
  <tr *ngFor="let obj of resultArray">
      <td>{{obj.word}}</td>
      <td>{{obj.freq}}</td>
  </tr>
</table>